body {
    background-color: blue;
    width: 100%;
}

.container {
    width: 60%;
    margin: 23px;
    border-radius: 25px;
    
}
.main-container { 
     width: 100%;
     padding: 20px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-weight: 6px;
 } 
 button {
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    padding: 10px;
    background: blue; 
    color: whitesmoke;
    font: caption;
    font-size: smaller;
 }
/* The div for the right child element */
.float-right-child {
    width: 43%;
    display: inline-block;
    display: inline-block;
}
.float-child-left {
    width: 43%; 
    display: inline-block;
    display: inline-block;
}

img {
    /* The css design for the img */
    border-radius: 17px;
    font-weight: bold;
    background-color: blue;
    color: blue;
    padding: 15px;
}
section {
    background-color: blue;
    color: white;
    font-weight: 800;
    padding: 10px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid blue; 
}
/* The input field css */
.child-descedant {
    border: 1px solid white;
    padding: 30px;
    width: 100%;
    padding-top: 26px;
    background-color: white;
    color: white;
    border-radius: 5px;
    font-style: italic;
}
.child-descedant p {
    text-transform: lowercase;
} 
/* Css for the button element */
 .float-right-child button { 
     width: 60%; 
     padding: 10px; 
     border-radius: 17px; 
     background-color: rgba(0, 13, 255, 0.786); 
     color: white; 
     cursor: pointer;
 } 
 #btn-h2 {
    color: white;
    font-family: sans-serif;
    font-weight: 10px;
 }
 .para {
    color:  rgb(173,216,230);
    font-weight: bolder;
    font-size: 15px;
 }
 /* The create profile section */
.btn-p {
    /* width: 10rem; */
    color: white;
    /* border: 1px solid white; */
    border-radius: 25px;
    margin-top: 20px;
    padding: 5px;
    text-align: center;
    font-size: smaller;
    
}
.div-h3 {
    color: white;
    font-weight: lighter;
    font-size: 20px;
    font-style: normal;
    font-family: sans-serif;
}
input {
    padding: 7px;
    margin: 4px;
    border: 1px solid black;
    border-radius: 5px;
}
 

